.social-icons {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons li {
  display: inline-block;
  margin: 20px 0;
  color: #fff;
}

.social-icons li i,
.social-icons li span {
  color: #fff;
}

body {
  text-align: center;
  background-color: #111;
  color: #fff;
}

header {
  text-align: center;
}

header img {
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

header h1 {
  margin: 10px 0;
}

i {
  font-size: 2.6rem;
}

span {
  font-size: 1.2rem;
}
